
  <ion-header translucent>

  
  </ion-header>
  
  
  <p></p>
  
  <ion-card>
    <div class="ion-page" id="main-content"></div>
     
        <ion-toolbar>
         
          <p></p>
          <ion-icon name="chevron-back-outline" detail (click)="transaksi()"></ion-icon>
          <ion-item>
           
            <H5>TRANSAKSI PEMINJAMAN</H5>
           
      
          <div class="ion-padding" style="text-align: right;"> 
            <img src="assets/icons8-planner-100.png">
          </div>
        </ion-item>
      </ion-toolbar>
     
  
  </ion-card>
  
      
     
      
       <ion-card>
  <ion-content >

    <ion-item>
      <ion-label>ID Barang &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</ion-label>
      <ion-input placeholder="masukkan data" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Nama Barang &nbsp;:</ion-label>
      <ion-input placeholder="masukkan data" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tanggal pinjam:</ion-label>
      <ion-input placeholder="masukkan data" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Jam &nbsp;&nbsp; &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</ion-label>
      <ion-input placeholder="masukkan data" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nama Peminjam:</ion-label>
      <ion-input placeholder="masukkan data" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Kelas  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</ion-label>
      <ion-input placeholder="masukkan data" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Status &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</ion-label>
      <ion-input placeholder="masukkan data" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Admin  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</ion-label>
      <ion-input placeholder="pmasukkan data" type="text"></ion-input>
    </ion-item>
  </ion-content>
</ion-card>
    <ion-button shape="round" class="underline" detail (click)="transaksi()">
      Simpan
      </ion-button>
    
    
      
 