:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

ion-button{
  width: 70px;  
  height: 35px;  
  padding: 5px 0 10px 0;
 
}
.underline
{
font-size: 10px;
}
ion-content{
  width: 280px;  
    height: 380px; 
}
ion-app{
  background-color: #f7f7f7;
}