<ion-app>
<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card-header>
     
     
      
      <div class="ion-padding" style="text-align: center;"> 
        <img src="assets/icons8-new-product-96.png">
       
      </div>
      <div class="ion-text-center">
        <h3>INVENTARIS BARANG</h3>
      </div>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
     <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
    
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
     
    </ion-item>
<p>
  <ion-col>
    <ion-router-link href="#" class="underline" >Lupa Password?</ion-router-link>
  </ion-col>
</p>
<section>

  <ion-button expand="block" detail (click)="masuk()">Masuk</ion-button>

</section>





</ion-content>
</ion-app>