<ion-app>
  <ion-header translucent>

  
  </ion-header>
  
  
  <p></p>
  
  <ion-card>
    <div class="ion-page" id="main-content"></div>
     
        <ion-toolbar>
         
          <p></p>
          <ion-icon name="chevron-back-outline" detail (click)="databarang()"></ion-icon>
          <ion-item>
           
            <H5>DATA BARANG</H5>
           
      
            <div class="ion-padding" style="text-align: right;"> 
              <img src="assets/Rectangle 1.png">
            </div>
        </ion-item>
      </ion-toolbar>
     
  
  </ion-card>

  
      
       
  <ion-content >

    <ion-item>
      <ion-label>ID Barang &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</ion-label>
      <ion-label>123456</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Nama Barang&nbsp;:</ion-label>
      <ion-label>Papan tulis</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</ion-label>
      <ion-label>Tersedia</ion-label>
    </ion-item>
    <ion-button shape="round" class="underline" detail (click)="databarang()">
      Simpan
      </ion-button>
    </ion-content>
    
      
  </ion-app>