<ion-app>
  <ion-header translucent>

  
  </ion-header>
  
  
  <p></p>
  
  <ion-card>
    <div class="ion-page" id="main-content"></div>
     
        <ion-toolbar>
         
          <p></p>
          <ion-icon name="chevron-back-outline" detail (click)="dashboard()"></ion-icon>
          <ion-item>
           
            <H5>Laporan</H5>
           
      
          <div class="ion-padding" style="text-align: right;"> 
            <img src="assets/icons8-documents-64.png">
          </div>
        </ion-item>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
  
  </ion-card>
  
      
     
      
       
        
          
        <ion-content >
          <ion-list>
            <ion-item><button ion-button primary (click)="detaillaporan()"> Laporan Barang</button></ion-item>

            <ion-item>Laporan supplier</ion-item>

            <ion-item>Laporan Barang Masuk</ion-item>

            <ion-item>Laporan Barang Keluar</ion-item>

            <ion-item>Laporan Barang Rusak</ion-item>
           
            <ion-item>Laporan Keuangan</ion-item>

           
           
          </ion-list>
          
        </ion-content>
        <ion-button shape="round" class="underline" (click)="tambahlaporan()">
        Tambah
        </ion-button>
  
      </ion-app>