<ion-app>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="list" slot="start" ></ion-icon>
        <ion-item  detail (click)="databarang()"><ion-segment>Data Barang</ion-segment></ion-item>
      </ion-item>

      <ion-item>
        <ion-icon name="arrow-undo-outline" slot="start"></ion-icon>
        <ion-item   detail (click)="transaksi()"><ion-segment>Peminjaman</ion-segment></ion-item>
      </ion-item>

      <ion-item>
        <ion-icon name="clipboard-outline" slot="start"></ion-icon>
        <ion-item detail (click)="laporan()"><ion-segment>Laporan</ion-segment></ion-item>
      </ion-item>

      <ion-item>
        <ion-icon name="exit-outline" slot="start" ></ion-icon>
        <ion-item  detail (click)="login()"><ion-segment>Logout</ion-segment></ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-card class="energized" >
<div class="ion-page" id="main-content"></div>
 
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <p></p>

      <ion-item>
        <H5>INVENTARIS BARANG</H5>
        <ion-avatar slot="end" >
          <img src ="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-item>
</ion-toolbar>
      <div class="ion-padding" style="text-align: right;"> 
        <img src="assets/icons8-big-parcel-96.png">
      </div>
  </ion-card>
  
  <ion-card >
    <ion-card-content detail (click)="databarang()">
      <ion-item >
        <ion-segment>DATA BARANG</ion-segment>
        <ion-avatar slot="end">
          <img src="assets/icons8-list-64(1).png">
    </ion-avatar>
  </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content detail (click)="transaksi()">
       <ion-item>
       <ion-segment>TRANSAKSI PEMINJAMAN</ion-segment>
        <ion-avatar slot="end">
          <img src="assets/icons8-planner-100.png">
    </ion-avatar>
  </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content detail (click)="laporan()">
      <ion-item >
        <ion-segment>LAPORAN</ion-segment>
        <ion-avatar slot="end">
          <img src="assets/icons8-documents-64.png">
    </ion-avatar>
  </ion-item>
    </ion-card-content>
  </ion-card>

</ion-app>