<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          
          <ion-col size="12">
            <ion-label class="top">
							<h3>SMPN 1 LALAPAN</h3>
						</ion-label>
          </ion-col>
         
        </ion-row>
      </ion-grid>
      
    </ion-item>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
    </ion-avatar>
    <ion-label>
      <h3>Rui Faqri</h3>
      <p>VIII</p>
      <p>Anya Geraldine</p>
    </ion-label>

  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">

      <ion-slide>

        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header>


              <ion-grid>
                <ion-row>
                  <ion-col col-6>

                    <img src="https://www.freeiconspng.com/uploads/to-do-list-icon-buy-this-icon-for--0-48-1.png"
                      alt="To Do List Icon"  (click)="jadwal()"/>

                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-header>
          </div>

        </ion-card>
        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header>


              <ion-grid>
                <ion-row>
                  <ion-col col-6>

                    <img src="https://www.freeiconspng.com/uploads/education-folder-icon-1.png"
                      alt="Icon Hd Education Folder" (click)="rekap()"/>

                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-header>
          </div>

        </ion-card>

        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header>


              <ion-grid>
                <ion-row>
                  <ion-col col-6>

                    <img src="https://www.freeiconspng.com/uploads/message-icon-png-14.png" alt="Message Png Icon" (click)="report()"/>

                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-header>
          </div>

        </ion-card>

      </ion-slide>

    </ion-slides>
  </div>

  <div class="container">


    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar class="avt">
              <img src="https://img.icons8.com/color/48/000000/guest-female.png"/>
            </ion-avatar>
            
          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h4>Senin</h4>
              <h6>Bahasa Inggris</h6>
              <h6>Jam 07.00 - 08.25 WIB</h6>
              <h6>Kartika Wulandari</h6>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>
              <a href=""><h6>Detail</h6></a>
						</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar class="avt">
              <img src="https://img.icons8.com/color/48/000000/guest-male.png"/>
            </ion-avatar>
            
          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h4>Senin</h4>
              <h6>Matematika</h6>
              <h6>Jam 08.25 - 09.30 WIB</h6>
              <h6>Sarbini Sarjono</h6>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>
              <a href=""><h6>Detail</h6></a>
						</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar class="avt">
              <img src="https://img.icons8.com/color/48/000000/guest-male.png"/>
            </ion-avatar>
            
          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h4>Senin</h4>
              <h6>Kimia</h6>
              <h6>Jam 10.00 - 11.30 WIB</h6>
              <h6>Sadikun</h6>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>
              <a href=""><h6>Detail</h6></a>
						</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>

    </div>

</ion-content>





<ion-card-content detail (click)="databarang()">
  <ion-item >
    <H5>DATA BARANG</H5>
    <ion-avatar slot="end">
      <img src="assets/icons8-list-64(1).png">
</ion-avatar>
</ion-item>
</ion-card-content>


<ion-card-content>
  <ion-item>
    <H5>TRANSAKSI PEMINJAMAN</H5>
    <ion-avatar slot="end">
      <img src="assets/icons8-calendar-48.png">
</ion-avatar>
</ion-item>
</ion-card-content>




<ion-card-content>
  <ion-item>
    
    <H5>LAPORAN</H5>
    <ion-avatar slot="end">
      <img src="assets/icons8-documents-64.png">
</ion-avatar>
</ion-item>
</ion-card-content>