
 
<ion-app>
 <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <ion-header translucent>

  
  </ion-header>
  
  
  <p></p>
  
  <ion-card>
    <div class="ion-page" id="main-content"></div>
     
        <ion-toolbar>
         
          <p></p>
          <ion-icon name="chevron-back-outline" detail (click)="dashboard()"></ion-icon>
          <ion-item>
           
            <H5>TREANSAKSI PEMINJAMAN</H5>
           
      
          <div class="ion-padding" style="text-align: right;"> 
            <img src="assets/icons8-planner-100.png">
          </div>
        </ion-item>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
  
  </ion-card>
  
      
     
      
       
        
          
        <ion-content>
          <ion-item>
            <ion-grid>
              <ion-row class="ion-align-items-center" >
                <ion-col size="7" >
                  <ion-router-link color="dark" href="#" (click)="detailtransaksi()">12/11/2020</ion-router-link>
                </ion-col>
                
                <ion-col size="5">
                  <ion-label>
                    <h5>Aksi</h5>
                  </ion-label>

                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-item>
      
          
          <ion-list>
           
            
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <ion-item >
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="7">
                    <h6>Tanggal</h6>
                  </ion-col>
                  
                  <ion-col size="5">
                    <ion-label>
                      <h5>Aksi</h5>
                    </ion-label>
  
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-item>
          </ion-list>
          
        </ion-content>
      
        <ion-button shape="round" class="underline" detail (click)="tambahtransaksi()">
        Tambah
        </ion-button>
  
    
      </ion-app>