
<ion-app>
  <ion-header translucent>

  
  </ion-header>
  
  
  <p></p>
  
  <ion-card>
    <div class="ion-page" id="main-content"></div>
     
        <ion-toolbar>
         
          <p></p>
          <ion-icon name="chevron-back-outline" detail (click)="laporan()"></ion-icon>
          <ion-item>
           
            <H5>Laporan</H5>
           
      
          <div class="ion-padding" style="text-align: right;"> 
            <img src="assets/icons8-documents-64.png">
          </div>
        </ion-item>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
  
  </ion-card>
        <ion-content >
          <ion-card>
            <ion-textarea class="placeholder" placeholder="placeholder"></ion-textarea>
        </ion-card>
        </ion-content>
        <ion-button shape="round" class="underline" (click)="laporan()">
        Tambah
        </ion-button>
  
  
      </ion-app>